@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", serif;
}

/* header section */
header {
  background: rgb(247, 247, 247);
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgb(254, 163, 1);
}

.nav-logo-container {
  margin: 12px 0 12px 16px;
}

.nav-logo-container img {
  height: 46px;
  width: 46px;
}

.nav-logo-container > h3 {
  display: none;
  font-weight: 700;
  font-size: 2rem;
}

/* hamburger css code */
.hamburger-container {
  margin: 20px 16px 20px 0;
}

.hamburger-container i {
  height: 30px;
  width: 30px;
}

.nav-links-container {
  display: none;
}
.nav-link-item {
  list-style: none;
}

.nav-link {
  font-weight: 700;
  font-size: 1.25rem;
}
.nav-link {
  text-decoration: none;
}

.btn-primary {
  display: none;
  width: 197px;
  height: 50px;
  padding: 10px;
  background-color: #fea301;
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 12px;
}

/* banner css */
.banner-container {
  /* width: 100%; */
  max-width: 1158.61px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-left-content {
  margin-top: 20px;
  max-width: 640px;
}

.banner-title {
  font-weight: 700;
  font-size: 2rem;
}

.banner-description {
  font-weight: 500;
  font-size: 0.9rem;
  color: #111111;
  margin-top: 18px;
}

.btn-secondary {
  width: 131px;
  height: 42px;
  margin-top: 18px;
  margin-bottom: 20px;
  /* padding: 6px 24px 6px 24px; */
  border-radius: 8px;
  background: rgb(17, 17, 17);
  font-weight: 700;
  font-size: 1rem;
  color: white;
}

.banner-right-content {
  margin-top: 20px;
}

.banner-right-content img {
  width: 95%;
}

marquee {
  color: black;
  font-size: 2rem;
  font-weight: 400;
}

/* curriculum section */
.curriculum-container {
  width: 100%;

  margin-bottom: 20px;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: inherit;
  /* background-origin: content-box; */
  /* background-position-y: -40px;
  background-position-x: 90px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.curriculum-title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 1.6rem;
  color: #000000;
}

.cards-container {
  margin-top: 20px;
  width: 92%;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.curriculum-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 36px 28px 36px 28px; */
  /* max-width: 357px; */
  width: 100%;
  box-sizing: border-box;
  border: 0.64px solid rgb(222, 245, 255);
  border-radius: 12.77px;
  box-shadow: inset 0px 0px 19.16px 0.64px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.card-content .curriculum-card-image {
  height: 75.8px;
  width: 88.5px;
}

.curriculum-card-title {
  color: #202020;
  font-weight: 700px;
  font-size: 1rem;
  margin-top: 22.5px;
}

.curriculum-card-description {
  max-width: 194px;
  font-family: "Raleway", serif;
  font-size: 0.625rem;
  line-height: 19.16px;
  margin-top: 22px;
}
.read-more-conteiner {
  margin-top: 25px;
  margin-bottom: 40px;
}

.curriculum-read-more {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8rem;
}

.arrow-button-container {
  display: none;
  margin-top: 80px;
  margin-bottom: 60px;
}

.btn-arrow {
  margin-right: 10px;
  height: 60px;
  width: 60px;
  background-color: #fea301;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
}

/* our stories section */
.stories-container {
  background: url("../assets/bg.png"),
    linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(254, 163, 1, 0.3) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stories-title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 40px 0px 40px 0px;
}

.stories-card-container {
  width: 92%;
  /* max-width: 1160px; */
  margin-top: 20px;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.stories-card {
  border-radius: 9.53px;
  background: rgb(255, 255, 255);
  width: 100%;
  max-width: 173px;
  height: 100%;
  position: relative;
}

.card-1 {
  display: none;
}

.stories-card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 9.53px 9.53px 0px 0px;
}

.stories-card-title {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 0.5rem;
  max-width: 117px;
  margin: 25px auto 0 auto;
  line-height: 17.12px;
}

.stories-card-date {
  position: absolute;
  top: 43%;
  left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103.91px;
  height: 22.83px;
  border-radius: 28.54px;
  background: rgb(149, 178, 38);
  color: white;
  font-family: "Raleway", serif;
  font-weight: 500;
  font-size: 0.5rem;
}
.card-2-date {
  background-color: #95b226;
}
.card-3-date,
.card-4-date,
.card-5-date {
  background-color: #5d58f0;
}

.view-all-btn {
  border-radius: 12px;
  background: rgb(17, 17, 17);
  margin-top: 20px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  line-height: 30px;
  width: 134px;
  height: 30px;
  border: none;
}

/* footer-css */
.footer-conteiner {
  width: 100%;
  background: rgb(1, 172, 253);
}
.footer-content-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 92%;
  margin-left: 16px;
}
.footer-left {
  margin-top: 65px;
}
.footer-left-logo-title-container {
  display: flex;
  align-items: center;
}
.footer-left-logo {
  width: 69.23px;
  height: 69.23px;
  margin-right: 9px;
}
.footer-left-title {
  color: white;
  font-size: 2.2rem;
  font-weight: 700;
}
.footer-left-description {
  max-width: 357px;
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 24px;
}

.footer-middle-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
}

.footer-middle-links-container {
  margin-top: 27.5px;
}
.footer-middle-link-item {
  list-style: none;
  margin-bottom: 17px;
}
.footer-middle-link {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.06rem;
  text-decoration: none;
}

.footer-right {
  margin-bottom: 60px;
}

.footer-right-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.37rem;
}
.footer-right-icons-container {
  margin-top: 37px;
}
.footer-right-icon {
  width: 33.91px;
  height: 33.91px;
  border-radius: 3.39px;
  margin-right: 8.5px;
  border: none;
}

/* ------------------------------------------------------------------------------ */
/* responsive css code */
@media screen and (min-width: 576px) {
  header nav {
    border: none;
    max-width: 1160px;
    margin: 0 auto;
  }
  .hamburger-container {
    display: none;
  }
  .nav-logo-container {
    display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
  }
  .nav-logo-container img {
    width: 62px;
    height: 62px;
  }
  .nav-logo-container > h3 {
    display: inline-block;
  }

  .nav-links-container {
    display: flex;
    gap: 32px;
  }

  .btn-primary {
    display: inline-block;
  }

  /* banner css */
  .banner-container {
    flex-direction: row;
    text-align: left;
  }
  .banner-left-content {
    margin: 0 50px 0 0;
  }
  .banner-title {
    font-size: 3.5rem;
  }
  .banner-description {
    font-size: 1.25rem;
    margin-top: 24px;
  }

  .banner-description br {
    display: none;
  }
  .btn-secondary {
    margin-top: 24px;
    margin-bottom: 0;
  }

  .banner-right-content img {
    width: 100%;
  }

  /* curriculum css */
  .curriculum-container {
    width: 100%;
    background-size: cover;
    background-position-x: 65%;
    /* background-position-y: 100px; */
    background-size: cover;
  }

  .curriculum-title {
    color: #000000;
    font-size: 2.875rem;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .cards-container {
    margin: 0 auto;
    flex-direction: row;
    gap: 29px;
  }
  .curriculum-card {
    height: 476.78px;
    padding: 0;
  }
  .card-content .curriculum-card-image {
    width: 132.61px;
    height: 135.21px;
  }
  .curriculum-card-title {
    font-size: 1.5rem;
    margin-top: 33px;
  }
  .curriculum-card-description {
    max-width: 285px;
    font-family: "Raleway", serif;
    font-size: 1rem;
    line-height: 28.3px;
    margin-top: 33px;
    text-align: left;
  }
  .read-more-conteiner {
    margin-top: 38.5px;
    margin-bottom: 58.48px;
  }
  .curriculum-read-more {
    font-size: 1rem;
  }
  .arrow-button-container {
    display: inline-block;
  }

  /* our stories section */
  .stories-container {
    background: url("../assets/bg.png"),
      linear-gradient(
        0deg,
        rgba(254, 163, 1, 0.3),
        rgba(255, 255, 255, 0.3) 100%
      );
    background-size: contain;
    background-position-x: 60%;
    background-position-y: 25%;
  }
  .stories-title {
    margin-top: 60px;
    font-size: 2.85rem;
    /* padding: 60px 0px 60px 0px; */
  }
  .stories-card-container {
    margin-top: 80px;
    gap: 25px;
    width: 100%;
    max-width: 1160px;
    grid-template-columns: repeat(4, 1fr);
  }

  .stories-card {
    width: 100%;
    max-width: 540px;
    border-radius: 16px;
  }

  .stories-card-image {
    height: 50%;
  }
  .stories-title-optional {
    max-width: 198px;
    margin-top: 24px;
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
  }

  .stories-card-date {
    width: 174.51px;
    height: 38.93px;
    color: rgb(255, 255, 255);
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 28.76px;
  }
  .card-1 {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
  }
  .card-1-title {
    margin-top: 60px;
    max-width: 433px;
    color: rgb(0, 0, 0);
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 38.35px;
  }
  .stories-card-description {
    max-width: 433px;
    margin: 51px auto 0 auto;
    font-family: "Raleway", serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 28.76px;
    color: rgb(102, 102, 102);
  }
  .card-1-date {
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    position: absolute;
    top: 46%;
    left: 9%;
    color: rgb(255, 255, 255);
    font-family: "Raleway", serif;
    font-size: 15.34px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174.51px;
    height: 47.93px;
  }
  .card-2-date,
  .card-4-date,
  .card-5-date {
    background-color: #95b226;
  }
  .card-3-date {
    background-color: #5d58f0;
  }

  .view-all-btn {
    width: 197px;
    height: 50px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    margin: 90px 0 70px 0;
  }

  /* footer-css */
  .footer-conteiner {
    display: flex;
    align-items: center;
    margin-right: 228px;
  }
  .footer-content-container {
    max-width: 1070.91px;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    margin-top: 123px;
    margin-left: 140px;
    margin-bottom: 174px;
    margin-right: 228px;
  }
  .footer-left {
    margin-top: 0;
  }
  .footer-left-logo {
    width: 82.9px;
    height: 81.65px;
    margin-right: 11px;
  }
  .footer-left-title {
    font-size: 2.62rem;
  }
  .footer-left-description {
    max-width: 399px;
    font-size: 1.25rem;
    margin-top: 35.5px;
  }

  .footer-middle-title {
    max-width: 156px;
    font-size: 1.5rem;
  }
  .footer-middle-links-container {
    margin-top: 32px;
  }
  .footer-middle-link {
    font-size: 1.25rem;
  }
  .footer-right-title {
    font-size: 1.6rem;
  }
  .footer-right-icons-container {
    margin-top: 42px;
  }
  .footer-right-icon {
    width: 40.61px;
    height: 40px;
    border-radius: 4px;
    margin-right: 20px;
  }
}
